{% extends "index.html" %}

{% block title %}
Tensor Executive Dashboard
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='dashboardsetup.js') }}"></script>
{% endblock %}

{% block main %}
{% for stat in stats %}
	{% if stat != 'NPSSegPct' %}
		<a href="/stat/{{ stat }}">
			<div class="dash-stat" id="{{ stat }}">
				<div class="dash-stat-left">
					<span id="dash-stat-{{ stat }}"></span>
					<br>
					<span class="display-value display-value-dash" id="{{ stat }}Val"></span>
				</div>
				<div class="dash-stat-right">
					<span class="display-pct display-pct-dash" id="{{ stat }}Change"></span>
					<br>
					<span class="timescale timescale-dash" id="{{ stat }}Since"></span>
				</div>
				{% if stat != 'NPS' %}
					<div class="dash-plot" id="{{ stat }}Plot"></div>
				{% else %}
					<div class="dash-plot">
						<div class="dash-plot NPS" id="NPSPlot"></div>
						<div class="dash-plot NPS" id="NPSSegPctPlot"></div>
					</div>
				{% endif %}
			</div>
		</a>
	{% endif %}
{% endfor %}
{% endblock %}