{% extends "index.html" %}

{% block tabTitle %}
Agile Central Dashboard
{% endblock %}

{% block title %}
Agile Central Dashboard
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='dashboardsetup.js') }}"></script>
{% endblock %}

{% block main %}
<div class="container dashboard-container">
	<img src="/static/OperationTensorBanner.jpg" class="banner">
	{% for metric in metrics %}
		<a href="/metric/{{ metric }}">
			<div class="dash-metric" id="{{ metric }}">
				<div class="dash-metric-left">
					<span id="dash-metric-{{ metric }}"></span>
					<br>
					<span class="display-value display-value-dash" id="{{ metric }}Val"></span>
				</div>
				<div class="dash-metric-right">
					<span class="display-pct display-pct-dash" id="{{ metric }}Change"></span>
					<br>
					<span class="timescale timescale-dash" id="{{ metric }}Since"></span>
				</div>
			</div>
		</a>
	{% endfor %}
</div>
{% endblock %}